input {
    display: none;
}

.reaction {
    --background: var(--ion-button-background);
    --background-focused: var(--ion-button-background-hover);
    --background-hover: var(--ion-button-background-hover);
    --background-activated: var(--ion-button-background-active);
    --border-style: solid;
    --padding-top: var(--echo-space-0);
    --padding-bottom: var(--echo-space-0);
    --padding-start: var(--echo-space-0);
    --padding-end: var(--echo-space-0);
    --border-radius: var(--echo-width-50);
    --border-width: 1px;
    font-size: var(--echo-font-size-xxlarge);
    --border-color: var(--ion-button-border);
    min-height: auto;
    width: 4rem;
}

.clear {
    --background: var(--ion-button-background);
    --background-focused: var(--ion-button-background-hover);
    --background-hover: var(--ion-button-background-hover);
    --background-activated: var(--ion-button-background-active);
    --border-color: var(--ion-button-border);
    --border-radius: var(--echo-width-50);
    --border-style: solid;
    --border-width: 1px;
    position: absolute;
    z-index: 1000;
    top: calc(var(--echo-space-2) * -1);
    right: calc(var(--echo-space-2) * -1);
    ion-icon { color: white; }
}

.uploaded {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: relative;
    .reaction {
        --border-color: var(--ion-button-border-uploaded);
    }
}

.emoji-uploaded {
    display: inline-block;
    font-size: var(--echo-font-size-xxlarge);
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: var(--echo-space-2);
}

.emoji {
    padding: var(--echo-space-3);
}

.image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}

.buttons {
    display: inline-block;
}
