ion-content.ion-padding
    .mw-75
        .text-heading.mb-3.pt-10 {{heading}}
        .small {{description}}

    ng-content

ion-footer(*ngIf='!isKeyboardVisible', [translucent]='true')
    ion-toolbar
        .mw-75.text-center.m-a.ptb-2
            .xsmall This was created by&nbsp;
                a([href]="'https://github.com/mcmanuliam'") mcmanuliam
                | ,&nbsp;curious how? Feel free to visit the&nbsp;
                a([href]="'https://github.com/mcmanuliam/Echo'") repo
                | .