ion-item {
    --padding-bottom: var(--space-1);
    --padding-top: var(--space-1);
    --padding-start: var(--space-1);
    --padding-end: var(--space-1);
}

ion-label {
    width: var(--width-75);
}

.play {
    color: var(--ion-text-color-step-300);
}

ion-thumbnail {
    width: var(--space-5);
    height: var(--space-5);
}
