ion-header([translucent]="true")
    ion-toolbar
        .text-heading.xlarge.m-3 Discover

ion-content([fullscreen]='true').ion-padding
    ion-thumbnail.w-100.h-20.mb-3
        ion-skeleton-text([animated]='true')
