h1 Welcome
    br
    | Back

p Sign in to continue capturing
    br
    | the world.

form((ngSubmit)='onSubmit()')
    .inputs
        ion-item
            ion-label([position]="'floating'") Email
            ion-input([(ngModel)]='email', id='email', [type]="'email'", name='email', required)

        ion-item
            ion-label([position]="'floating'") Password
            ion-input([(ngModel)]='password', id='password', [type]="'password'", name='password', required)

    .submit
        ion-button.continue(type="submit", shape="round")
            .btn-text Sign In
        p(*ngIf='swipe', (click)="next()") Don't have an account?&nbsp;
            a Sign Up.
