ion-header([translucent]="true")
  ion-toolbar.header
    ion-icon.xxlarge.settings(button, name='menu', (click)='settings()')
    .w-100.text-center
      img.profile-pic(src='../../assets/images/profile-picture.svg')
      p {{user?.display_name}}

ion-content
