.profile-pic {
    background-color: var(--ion-text-color);
    mask: url('../../assets/profile-pic.svg') no-repeat center / contain;
    aspect-ratio: 1;
    border-radius: 50%;
}

.pic-container {
    border-color: var(--ion-background-color-step-100);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.icons {
    position: absolute;
    right: var(--space-4);
}