ion-header([translucent]="true")
  ion-toolbar
    ion-title Blank

ion-content([fullscreen]="true")
  ion-header(collapse="condense")
    ion-toolbar
      ion-title(size="large") Blank

  div(id="container")
    strong Ready to create an app?
    p Start with Ionic&nbsp;
      a(target="_blank", rel="noopener noreferrer", href="https://ionicframework.com/docs/components") UI Components
